<h2 style="text-align:center;">Registration Form</h2>

<form style="text-align:center;">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    Age:<br>
    <input type="text" name="age"><br>
    Address:<br>
    <input type="text" name="address"><br>
    EmailId:<br>
    <input type="text" name="emailid"><br>
    
    Gender:
    <input type="radio" name="gender" value="male" checked> Male
    <input type="radio" name="gender" value="female"> Female
    <input type="radio" name="gender" value="other"> Other <br>
    <input type="submit" value="Submit">
</form>