 <!-- <naukari></naukari>
        <action></action> 
<student></student>

<employee></employee>
<product></product>
<customer></customer> 

<angular></angular>
<module></module> 
<application></application>
<developement></developement> 
<hostel></hostel>
<imagin></imagin> 

<studentreg></studentreg>


<naukari></naukari>
<app-college></app-college>
<app-notebook></app-notebook> 
<hospital></hospital>
<app-html></app-html>
<app-regi><app-/regi> -->
        <app-home></app-home>
<app-directive></app-directive>
<router-outlet></router-outlet>
