<!-- <div class="container">

    <div class ="row">
    <h1>Colored Spinners</h1>
   <div clas="col-sm-3" class ="spinner-border"></div>
 <div class ="spinner-border text-muted"></div>
 
   <div class="spinner-border text-primary"></div>
 
   <div class="spinner-border text-success"></div>
   
   <div class ="spinner-border text-secondary"></div>
   
   <div class ="spinner-border text-danger"></div>
 
   <div class ="spinner-border text-info"></div>
 
   <div class="spinner-border text-warning"></div>
 
   <div class="spinner-border text-dark"></div>
 
   <div class ="spinner-border text-light"></div> 
   
   </div>
</div> -->

<div class="container">
<div class="row">
        <div class="col-sm-2">Spinner
                <div class="spinner-border"></div>
        </div>
        <div class="col-sm-5">Colored Spinners
            <div class="spinner-border text-muted" ></div> 
            <div class="spinner-border text-primary" ></div>
            <div class="spinner-border text-success" ></div>
            <div class="spinner-border text-info" ></div>
            <div class="spinner-border text-warning" ></div>
            <div class="spinner-border text-danger" ></div>
            <div class="spinner-border text-secondary" ></div>
            <div class="spinner-border text-dark" ></div>
            <div class="spinner-border text-light" ></div>
        </div>

        <!------------------------------------------>
        <div class="col">Growing Spinners
            <div class="spinner-grow"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-secondary"></div>
            <div class="spinner-grow text-dark"></div>
            <div class="spinner-grow text-light"></div>
        </div>
      </div>
    </div><hr><hr>

    <!----------->
    <div class="container">
        <div class="row">
        <div class=col-sm-2>Small Spinner
    <div class="" class="spinner-border spinner-border-sm"></div>
</div>
<div class="col-sm-2">Small Grow
    <div class="spinner-grow spinner-grow-sm"></div>
</div>
</div>
</div><hr><hr>
<!-------------------------------->
<div class="container">
    <div class="row">
        <div class=col-sm-3>Spinners Button
            <button class="btn btn-primary">
                <span class="spinner-border spinner-border-sm"></span>
            </button>
            <button class="btn btn-primary">Loading...
                    <span class="spinner-border spinner-border-sm">.</span>
                </button>
        </div>

    </div>

</div>